<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rent car</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Enquiry Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css files -->
<link rel="stylesheet" type='text/css' media="all" th:href="@{/css/style2.css}" />

<!-- /css files -->
<!-- font files -->
<link rel="stylesheet" type='text/css' media="all" th:href="@{//fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,600,700,800,900}"/>
<link rel="stylesheet" type='text/css' media="all" th:href="@{//fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700,900}"/>


<!-- /font files -->
</head>
<body>
<h1 class="header-agileits w3 w3l agile-info">modifier client </h1>
<p class="header-agileits wthree w3-agileits"></p>

<div class="content-w3ls">
	<div class="form-w3layouts">
		<form action="#" th:action="@{/update}" th:object="${client}" method="post">
			 
		<div class="form-control">	
				<label class="header">code <span>:</span></label>
				<input type="text" id="mat" th:field="*{code}"   required=""/>
			</div>
		
			<div class="form-control">	
				<label class="header">nom <span>:</span></label>
				<input type="text" id="mat"  th:field="*{nom}"   required=""/>
			</div>
			<div class="form-control">	
				<label class="header">adresse<span>:</span></label>
				<input type="text" id="mar" th:field="*{adresse}"  required=""/>
			</div>
			<div class="form-control">	
				<label class="header">telephone <span>:</span></label>
				<input type="text" id="nb"  th:field="*{tel}"   required=""/>
			</div>
			<div class="form-control">	
				<label class="header">email <span>:</span></label>
				<input type="text" id="nb"  th:field="*{email}"   required=""/>
			</div>
		
		
			
					
		
			
			<div class="form-control">
				<input type="reset" class="reset" value="Reset"/>
				<input type="submit" class="register" value="Submit" onclick="return confirm('update successfully')"/>
				<div class="clear"></div>
			</div>	
		</form>
	</div>
</div>

</body>
</html>