
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Renting cars</title>
<meta name="keywords" content="web design template, free css html layout" />
<meta name="description" content="web design template, free css html layout provided by templatemo.com for any website purpose" />

<link rel="stylesheet" type='text/css' media="all" th:href="@{templatemo_style.css}" />
</head>
<body>
<div id="templatemo_header_wrapper">
<!-- Free Web Templates from TemplateMo.com -->
    <div id="templatemo_header">
    	<div id="logo"></div>
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html" class="current"><span></span>Home</a></li>
                <li><a href="reserver.html"><span></span>Reservation</a></li>
                <li><a href="index.html"><span></span>Projects</a></li>
                <li><a href="index.html"><span></span>Contact</a></li>
                <li><a href="index.html"><span></span>login</a></li>
            </ul>   
            <div class="cleaner"></div> 	
        </div> <!-- end of menu -->
        
        <div class="cleaner"></div>
    </div> <!-- end of header -->

</div> <!-- end of header wrapper -->

<div id="templatemo_banner_wrapper">

	<div id="templatemo_banner">

        <div id="banner_content">
            <div id="banner_title">Renting Car Company</div>
            <div id="banner_text">
            	<p> Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price.</p>
            	
            	<p>Cancel or amend your car or dates online quickly and easily</p>
            </div>
            
          <div class="cleaner"></div>
        </div> <!-- end of banner content -->
        
        <div class="cleaner"></div>   
    </div> <!-- end of banner -->

</div> <!-- end of banner wrapper -->

<div id="templatemo_content_top_wrapper">

    <div id="templatemo_content_top">
    
        <div class="header_01">About as</div>
        <p> Working with over 900 companies in 160 countries, we can find the right car in the right place, at the right price.

Cancel or amend your car or dates online quickly and easily. </p>
      <div class="margin_bottom_10"></div>
        <div class="rc_btn_01"><a href="#">Read More</a></div>
      <div class="cleaner"></div>
    
    </div> <!-- end of content top -->

</div> <!-- end of content top wrapper -->

<div id="templatemo_content_wrapper">

    <div id="templatemo_content">
    
        <div class="content_col_w420 fl">
        
            <div class="header_02">Our activities</div>
            
            <div class="service_box fl margin_right_10">
           		<a href="#"><img th:src="@{images/templatemo_service_1.jpg}" alt="service" /></a>
            </div> 
            
            <div class="service_box fl margin_right_10">
            	<a href="#"><img src="images/templatemo_service_2.jpg" alt="service" /></a>
            </div>
            
            <div class="service_box fl">
	            <a href="#"><img src="images/templatemo_service_3.jpg" alt="service" /></a>
            </div>
        
            <div class="margin_bottom_10 border_bottom"></div>
            <div class="margin_bottom_30"></div>
        
            <div class="header_02">Clients feedback</div>
           
            <div class="testimonial_box_wrapper">
                <div class="testimonial_box">
                    <div class="header_03"><a href="#">Quisque dictum pharetra neque</a></div>
                    <p>Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien.</p>
                </div>
	        </div>
        
            <div class="testimonial_box_wrapper">
                <div class="testimonial_box">
                	<div class="header_03"><a href="#">Aliquam pretium porta odio</a></div>
               	  <p>Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit.</p>
                </div>
            </div>
        
            <div class="testimonial_box_wrapper">
                <div class="testimonial_box">
                    <div class="header_03"><a href="#">Sed pellentesque placerat augue</a></div>
                  <p>Sed ultrices. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur velit tellus, placerat et, dapibus varius, aliquet quis, purus.</p>
                </div>
            </div>
        
        	<div class="margin_bottom_20"></div>
        </div>        <!-- end of a section -->
        
        <div class="content_col_w420 fr">

     
            <div class="margin_bottom_20 border_bottom"></div>
            <div class="margin_bottom_30"></div>
            
            <div class="header_02">Our Experience</div>
           
            <div class="section_w280 fl">
                <ul class="other_project_list">
                    <li><a href="#">Donec dapibus viverra est</a></li>
                    <li><a href="#">Cum sociis natoque penatibus</a></li>
                    <li><a href="#">Magnis dis parturient montes</a></li>
                    <li><a href="#">Nascetur ridiculus mus</a></li>
                    <li><a href="#">Curabitur quis velit quis tortor tincidunt</a></li>                    
              </ul>
            </div>
            <div class="section_w140 fr">
                <div class="project_icon"></div>
            </div>
        </div>  
    
    </div>  <!-- end of content -->

</div> <!-- end of content wrapper -->
      
<div id="templatemo_footer_wrapper">
	
    <div id="templatemo_footer">
    
        <div class="content_col_w420 fl">
            <div class="header_01">Aliquam tristique lacus</div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc quis sem nec tellus blandit tincidunt. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum.est. Suspendisse a nibh tristique justo rhoncus volutpat. Suspendisse vitae neque eget ante tristique vestibulum.</p>
            
          <div class="margin_bottom_20"></div>
            Copyright © 2048 <a href="#">Your Company Name</a> | <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
            
            <div class="cleaner"></div>
        </div>
        
        <div class="content_col_w420 fr">
            <div class="section_w220 fl">
                <div class="header_01">Praesent varius</div>
                <ul class="normal_list">
                    <li><a href="#">Nascetur ridiculus mus</a></li>
                    <li><a href="#">Curabitur quis velit quis tortor</a></li> 
                    <li><a href="#">Vivamus a velit</a></li>
                    <li><a href="#">Cum sociis natoque penatibus</a></li>
                    <li><a href="#">Magnis dis parturient montes</a></li>
                </ul>
            </div>
        
            <div class="section_w220 fr text_rl">
                <div class="header_01">Contact</div>
                <ul class="contact">
                    <li>Tel: 010-100-1001</li>
                    <li>Fax: 020-200-2002</li>
                    <li>Email: <a href="#">info [_at_] templatemo.com</a></li>
                </ul>
                <div class="margin_bottom_10"></div>
                <a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a>
                <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px"  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" vspace="8" border="0" /></a>
            </div>
            
        </div>
        <div class="cleaner"></div>
    </div><!-- end of footer wrapper -->
</div> 
<!-- Free CSS Templates @ www.TemplateMo.com -->
</body>
</html>