<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>web design template, free css html layout</title>
<meta name="keywords" content="web design template, free css html layout" />
<meta name="description" content="web design template, free css html layout provided by templatemo.com for any website purpose" />

<link rel="stylesheet" type='text/css' media="all" th:href="@{templatemo_style.css}" />
<link rel="stylesheet" type='text/css' media="all" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type='text/css' media="all" th:href="@{https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css}" />


</head>
<body>
<div id="templatemo_header_wrapper">
<!-- Free Web Templates from TemplateMo.com -->
    <div id="templatemo_header">
    	<div id="logo"></div>
        <div id="templatemo_menu">
            <ul>
                <li><a href="homepage.html" class="current"><span></span>Home</a></li>
                <li><a href="reserver.html"><span></span>Solutions</a></li>
                <li><a href="index.html"><span></span>Projects</a></li>
                <li><a href="index.html"><span></span>About</a></li>
                <li><a href="index.html"><span></span>Contact</a></li>
            </ul>   
            <div class="cleaner"></div> 	
        </div> <!-- end of menu -->
        
        <div class="cleaner"></div>
    </div> <!-- end of header -->

</div> <!-- end of header wrapper -->


   <!-- Example Tables Card -->
          
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> liste des véhicules
                </div>
                <br></br>
                <div class="card-block">
                    <div  id="table" class="table-responsive">
              <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                           <thead>
                                <tr>
                                    <th>matricule</th>
                                    <th>marque</th>
                                    <th>nombre place</th>
                                    <th>resrvation</th>
                                </tr>
                            </thead>
                            <tbody>
                             <tr  th:each="vihicule : ${v}">
                             <td th:text="${vihicule.matricule}"></td>
                           <td th:text="${vihicule.marque}"></td>
                            <td th:text="${vihicule.nombre_place}"></td>
                            
                             <td><a  th:href="@{/form}">reserver</a></td>
                             
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                 <script type="text/javascript" th:src="@{datatable.js}"></script>
 <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script>
  <script type="text/javascript" th:src="@{https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js}"></script>
 
  <script type="text/javascript" th:src="@{https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js}"></script>
 
    
</body>
</html>